.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 45px;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;

  background: linear-gradient(to bottom,
      rgba(18, 18, 18, 1) 0%,
      rgba(18, 18, 18, 0.9) 40%,
      rgba(18, 18, 18, 0.6) 65%,
      rgba(18, 18, 18, 0.3) 85%,
      rgba(18, 18, 18, 0) 100%);
}


.logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.logo img {
  height: 130px;
  width: 130px;
}


.template-name {
  transform: translateX(-40%);
  color: f7f7f1;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  z-index: 1;
}


.buttons-container {
  position: absolute;
  top: 50%;
  left: 120px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);
}


.left-buttons,
.right-buttons {
  display: flex;
  gap: 10px;
}


.btn,
.expand-btn {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 6px;
  padding: 8px 9.5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  width: 40px;
  transition: width 0.3s ease;
}

.btn-secondary {
  background-color: #383832;
}

.btn i,
.expand-btn i {
  flex-shrink: 0;
}


.btn span,
.expand-btn .btn-text {
  margin-left: 8px;
  opacity: 0;
  transition: opacity 0.2s ease;
}


.btn:hover,
.expand-btn:hover {
  width: 140px;
}

.btn:hover span,
.expand-btn:hover .btn-text {
  opacity: 1;
}

.logo {
  background: url('../../assets/logo.png');
  height: 130px;
  width: 130px;
  background-size: cover;
}

.save-icon {
  background: url('../../assets/save_2.png');
  height: 20px;
  width: 20px;
  background-size: cover;
  flex-shrink: 0;
}

.clear-icon {
  background: url('../../assets/clear_2.png');
  height: 20px;
  width: 20px;
  background-size: cover;
  flex-shrink: 0;
}

.export-icon {
  background: url('../../assets/export_2.png');
  height: 20px;
  width: 20px;
  background-size: cover;
  flex-shrink: 0;
}

.import-icon {
  background: url('../../assets/import_3.png');
  height: 20px;
  width: 20px;
  background-size: cover;
  flex-shrink: 0;
}