.template-creator {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background: linear-gradient(135deg, #000000 0%, #330040 50%, #5d0076 80%, #a259ff 100%);
  min-height: 100vh;

  .main-content {
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    gap: 20px;
   // height: calc(100vh - 800px);
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }
}