<div class="template-creator">
<app-header 
  [templateName]="templateName"
  (templateNameChange)="templateName = $event"
  (saveTemplate)="openSaveDialog()"
  (clearCanvas)="clearCanvas()"
  (exportTemplate)="exportTemplate()"
    (importTemplate)="openImportDialog()">
</app-header>

<app-save-template-dialog
  *ngIf="showSaveDialog"
  [(name)]="templateName"
  (saveClicked)="handleSave($event)"
  (cancel)="showSaveDialog = false">
</app-save-template-dialog>

  
    <app-import-template-dialog
     *ngIf="showImportDialog"
     [jsonPreview]="jsonPreview"
    (importConfirmed)="handleImportConfirmed($event)"
    (cancel)="handleImportCancel()"
  ></app-import-template-dialog>

  <div class="main-content">
    <app-widgets-panel
      [templates]="templates"
      (widgetDragStart)="onWidgetDragStart($event)"
      (loadTemplate)="loadTemplate($event)"
      (deleteTemplate)="deleteTemplate($event)">
    </app-widgets-panel>

    <app-canvas
      [widgets]="widgets"
      [isDragOver]="isDragOver"
      [selectedWidget]="selectedWidget"
      [draggedWidgetType]="draggedWidgetType"
      (canvasDrop)="onCanvasDrop($event)"
      (canvasDragOver)="onCanvasDragOver($event)"
      (canvasDragLeave)="onCanvasDragLeave()"
      (widgetSelect)="selectWidget($event)"
      (widgetDelete)="deleteWidget($event)"
      (widgetMove)="moveWidget($event)"
      (widgetResize)="resizeWidget($event)"
      (imageUpload)="handleImageUpload($event)"
      (deselectWidget)="deselectWidget()">
    </app-canvas>


    <app-properties-panel
      [selectedWidget]="selectedWidget"
      [jsonPreview]="jsonPreview"
      (widgetUpdate)="updateWidget($event)"
      (generateBarcode)="generateBarcode()"
      (clearBarcode)="clearBarcode()"
      (imageUpload)="handleImageUpload($event)"
      (separatorOrientation)="handleSeparatorOrientation($event)">
    </app-properties-panel>
  </div>
</div>